<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>customFont.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>learnSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>localVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>stopWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54185C2A1DA6B43B0099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54185C3E1DA6B43B0099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54185C491DA6B43C0099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54185C5F1DA6B8920099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54185C751DA6BBAC0099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54185CA31DA6C57F0099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
