<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarouselEffect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ImageScrollEffect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>RandomColorization.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>customFont.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>localVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>pullToRefresh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>snapChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>stopWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54048F6C1DABA34300F3D4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>540A2ADA1DA77AA6009C446A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>540A2AF61DA78F26009C446A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>540A2B141DA7F62F009C446A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54185C2A1DA6B43B0099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54185C3E1DA6B43B0099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54185C491DA6B43C0099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54185C5F1DA6B8920099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54185C751DA6BBAC0099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54185CA31DA6C57F0099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54E122321DA9223C00A62560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
