<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarouselEffect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CustomRefresh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>ImageScrollEffect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>KeyBoardLayoutShow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>LoginAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>RandomColorization.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SlideMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>VedioBackground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>clearTableViewCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>collectionViewAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>customFont.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>localVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>pullToRefresh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>snapChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>splashAnimated.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>stopWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>tableViewAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54048F6C1DABA34300F3D4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>540A2ADA1DA77AA6009C446A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>540A2AF61DA78F26009C446A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>540A2B141DA7F62F009C446A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54185C2A1DA6B43B0099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54185C3E1DA6B43B0099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54185C491DA6B43C0099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54185C5F1DA6B8920099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54185C751DA6BBAC0099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54185CA31DA6C57F0099DFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>543B83B31DAE305800496DE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>543B83C91DAF2BB900496DE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5455228D1DACB44F00E63CF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>545E62D21DADDB66007439D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>549664B01DAF6E57005F4967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54E122321DA9223C00A62560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54E5E8F71DACC40C00A34B36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54E5E90D1DACCA9700A34B36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54E5E9291DACD45D00A34B36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54E5E9411DACE83F00A34B36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
